jax==0.5.0
numpy==1.26.4
flax==0.10.2
matplotlib==3.10.0
plotly==5.24.1
pandas==2.2.3
plotly-resampler==0.10.0
chex==0.1.88
gymnax==0.0.8
brax==0.10.3
gymnasium==1.0.0
keras==3.8.0
tqdm==4.67.1
stable_baselines3==2.5.0
optax==0.2.4
distrax==0.1.5
jaxmarl==0.0.7
typing_extensions==4.12.2
absl-py==2.1.0
PyYAML==6.0.2
Pint==0.24.4
scipy==1.12.0
schema==0.7.7
rainflow==3.2.0
nbformat==5.10.4